{% extends 'admin/base.html.twig' %} 

{% block content %}

<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header">
			<i class="fa fa-home"></i> Dashboard
		</h3>
		<ol class="breadcrumb">
			<li><i class="fa fa-home"></i><a href="{{ WEB_ROOT }}/admin/dashboard">Home</a></li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		{% set name = app.session.get("userSession").username %}
		{% trans %}label.welcome %name%{% endtrans %}
		<br/>
		{{ "label.welcome"|trans({"%name%" : app.session.get("userSession").username }) }}
		<br/>
		<h3>{{ "label.bye"|trans }}</h3>
	</div>
</div>

{% endblock %} 

{% block js%}
<script>
	var setLanguage = function(lang){
	};
</script>

{% endblock %}